/*
 * Globals
 */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

html, body {overflow-x:hidden; width: 100%; height: 100%;zoom:reset;} 

#mobile-menu {display:none;}

@font-face {
	font-family: Angelface;
	src: local('Angelface'),
		url("fonts/Angelface.otf") format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: Lane;
	src: local('Lane'),
		url("fonts/LANENAR_.ttf") format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: Typewriter;
	src: local('Typewriter'),
		url("fonts/TravelingTypewriter.ttf") format('truetype');
	font-weight: normal;
}




body {
  color: #fff;
  background-color: #fff;

}

.emails {
    font-weight: bold;
    font-size: 15pt;
}

a {
    color: #dddddd;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;	padding-top: 10px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #ffffff;%;}
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.blog-nav {
	min-height: 90px;
	background-color: #ffffff;
	font-family: Lane;
	font-size: 18pt;
}


.blog-nav h3:hover {transform: scale(1.1); margin-left:90px; color: #2f1491;}

.header-logo {
	max-height: 65px;
	margin: 5px 0 5px 0;
	float:right;
	display: inline-block;
}

.langbar {
	position: absolute;
	top: 12%;
	right: 2%;
	z-index: 1500;
}

.volunteer .team-header {
	display: inline-block;
	width: 100%;
	color: black;
	background-color: rgba(223,223,223,0.8);
	border: 1px grey solid;
	font-size: 18pt;
	font-weight: bold;
	margin: 5px 0 5px 0;
	padding: 5px 10px 5px 5px;
}

.volunteer .extend {
	float: right;
	display: block;
	cursor: -webkit-grab;
}

.volunteer a {
	font-size:50%;
	color: #ffffff;
}
.volunteer .visible {
	font-size: 18pt;
	color: #ffffff;
}

.volunteer .lang-select {
	width: 50%;
	text-align: center;
}

.volunteer .left {
	float:left;
}


.volunteer .right {
	float:right;
}


/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  /* font-size: 60px; */
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
  width: 100%;
  padding-top: 29px;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
     background-image: url("img/general-background.png");
     background-attachment: fixed;
     background-size: cover;
     min-height: 78vh;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
  background-color: #3e3e3e;
  border-top: 1px solid #e5e5e5;  
  width: 100%;
  height: 100px;
  display: inline-block;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

.blog-nav li {
    position: relative;
    display: inline-block;
    font-weight: 500;	
}
.blog-nav li a {
	color: #1d507c;
	font-weight: bold;
	font-size: 75%;
}


.innbetween-logo {
	max-width: 100px;
	/* max-height: 150px;*/	
	float: right;
	margin-right: 6%;
}

.innbetween-logo-text {
	float: right;
	margin-right; 2px;
	
	font-family: Lane;
}

.backToTop {
	margin-left: 15px;
}

.socialicon {
	max-width: 80%; 
	max-height: 80%;
	margin-left: 2px;
	margin-right: 2px;
}

.social-wrapper {
	margin: 0;
	margin-left: 30px;
	padding: 0;
	height: 40px;
	/*width: 100%;*/
	display: inline-block;
}

.menu-wrap {
	bottom: 0;
}

#menu-beauty {margin-bottom:0;}

.menu-beauty-container ul {line-height:300%;}




/* home page */
.events {
	background-image: url("img/wood-pattern.jpg");
	background-size:cover;
	padding-top: 20px;
	padding-bottom:40px;
	display: inline-block;
	width: 100%;
}

.whatsnew {
	background-image: url("img/lightblue-bg.png");
	background-size: cover;
	min-height: 400px;
	width: 100%;
	display:inline-block;
	padding-bottom: 70px;
}

.whatsnew .leftpanel {
    padding-left: 50px;
    width: 50%;
}

.whatsnew .rightpanel {
	padding-top:40px;
}



.widgets_on_page ul {margin-bottom: 0;}

.blog-nav li {
	margin-right: 11px;
}




.fixed {
    position:fixed;
    top:0;
    width:99%;
    z-index:1000;
    background-color: white;
    line-height: 74px;
    font-size: 18pt;
    height: 74px;
}


/* Back to top icon, has custom JS, see functions.js */
.backtotop {
	width: 50px;
	background-color: #fff;
	float: right;
	height: 50px;
	border-radius: 50px;
	z-index: 1000;
	top: 15%;
	position: absolute;
	right:20px;
	line-height:50px;
	text-align:center;
	color: #0033ff;
}

.row {
	margin-top:75px;
}

h1.center {
	text-align: center;
	padding-top: 20px;
	margin-bottom: 0;
	font-size: 45px;
}

.leftpanel {
	display:inline-block;
	width:50%;
	/* height:100%; */
	float:left;
	text-align: center;
	padding-top: 10px;
}	

.leftpanel ul {
	padding-left: 0;
	margin-bottom: 0;
	color: #ffffff;
}

.leftpanel ul h2 {
	color: white;
	display: none;
}




.rightpanel {
	display:inline-block;
	width:50%;
	/* height:100%;*/
	float:right;
	text-align: center;
	padding-top: 10px;

}	

.subscribe-wrap {
	
  	padding-bottom: 60px;
}

.subscribe-wrap .subscribeBtn {
	font-family: Lane;
	background-color: #1d507c;
	width: 200px;
	height: 50px;
	border-radius: 35px;
	line-height: 50px;
	text-align: center;
	font-size: 18pt;
	color: #ffffff;
	font-weight: bold;
	display: inline-block;
}

.ourstory {
	width:100%;
	display:block;
	color: white;

}

.ourstory-header {font-size: 60pt;text-align:center;padding-top:50px;}

.centered-text {
	width: 70%;
	font-size: 70%;
	margin: 0 auto;
	position: relative;
	padding-bottom: 100px;
}

/* font classes */
.lane {
	font-family: Lane;
}

.angelface {
	font-family: Angelface;
}

.typewriter {
	font-family: Typewriter;
	font-weight: bold;
	color: #e5e5e5;
}


/* Event calendar (homepage) */
.leftpanel table  {
	margin: 0 auto;
	background-color: rgba(255,255,255,0.6);
	border: 1px solid black;
	font-family: Lane;
	font-size: 18pt;
	color: #000000;
}

.leftpanel tr,td,th {
	width: 50px;
}

.leftpanel td.eventless-pre, td.eventful-pre {
	color: black;
}

.events .leftpanel .widgettitle {
	font-family: Lane;
	font-weight: bold;
}

.rightpanel img {
	width: 150px;
	height: 150px;
	margin-left: 30px;
}

.rightpanel li {
	color: white;
	font-family: Lane;
	font-size: 18px;
	font-weight: bold;
}

.rightpanel .widgettitle {
	display: none;
}

.ourprojects {
	background-image: url("img/lightyellow-bg.png");
	width: 100%;
}

.round-icon-wrapper {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	margin-bottom: 50px;

}

.round {
	width: 120px;
	height: 120px;
	border-radius: 100px;
	background-color: #1d507c;
	text-align: center;
	line-height: 120px;
	margin: 0 auto;
	display: inline-block;
	color: #fff;
	margin-right: 25px;
	font-family: Lane;
	cursor: pointer; 
	font-size: 12pt;
}

/* Fade in custom javascript on click */
div.visible {
	display: inline-block;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

div.invisible {
	display: none;
}

div.wrapper {
	width: 70%;
	margin: 0 auto;
	padding-bottom: 60px;
	font-family: Lane;
	font-size: 18pt;
	color: #565656;
}


/* Contact page */
.contact {
	width: 100%;
	background-size: 1920px 1080px;
	height: 900px;
}

.contact .contactbubble {
	height: 200px;
	width: 200px;
	background-color: rgba(221, 221, 221, 0.64);
	border-radius: 200px;
	display: inline-block;
	line-height:200px;
	margin-left: 35px;
	margin-right: 35px;
	text-align: center;
	color: #1d507c;
	box-shadow: 5px 5px 5px #1d507c;
	font-family: Angelface;
	font-size: 32pt;
}


.lp-contact {
	text-align: left;
	padding: 2%;
}

.rp-contact {
	padding: 2%;
	text-align: left;
}

.contact td,tr {
	width: 20px;
}


.contact .findus-icons {
	display: block;
	position: relative;
	text-align: left;
	white-space:nowrap;
	word-wrap:normal;
}

.contact div.icon {
	display: inline-block;

}

.contact .contactbubble-wrap {
	width: 270px;
	height: 100%;
}


/* faq page */
.faq-wrap {
	
}

.faq {
	font-family: Lane;
	color: #000000;
	width: 80%;
	margin: 0 auto;
	font-weight: bold;
	font-size: 18pt;
	padding: 10% 0 10% 0;
}

.faq a {
	color: #000000;
}

.faq .faq-header {
	display: inline-block;
	width: 100%;
	color: black;
	background-color: rgba(223,223,223,0.8);
	border: 1px grey solid;
	font-size: 26px;
	font-weight: bold;
	margin: 5px 0 5px 0;
	padding: 5px 10px 5px 5px;
}

.faq .extend {
	float: right;
	display: block;
	cursor: -webkit-grab;
}



/* get involved */
.volunteer {
	font-family: Lane;
	color: #ffffff;
	width: 100%;
	margin: 0 auto;
	font-weight: bold;
	font-size: 14pt;
	padding: 10% 0 10% 0;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.volunteer .team-header {
	display: inline-block;
	width: 100%;
	color: black;
	background-color: rgba(223,223,223,0.8);
	border: 1px grey solid;
	font-size: 26px;
	font-weight: bold;
	margin: 5px 0 5px 0;
	padding: 5px 10px 5px 5px;
}

.volunteer .extend {
	float: right;
	display: block;
	cursor: -webkit-grab;
}

.volunteer a {
	font-size:100%;
	color: #ffffff;
}
.volunteer .visible {
	font-size: 200%;
	color: #ffffff;
}

.volunteer .lang-select {
	width: 50%;
	text-align: center;
}

.volunteer .left {
	float:left;
}


.volunteer .right {
	float:right;
}


/*event gallery */


.gallery h2 {
	font-family: Lane;
	font-weight: bold;
	color: #ffffff;
}

/* Custom css for event gallery widget on Event Gallery page (is generated) */
#Eventgallery {
	display: inline-block;
	width: 100%;
}

.meettheteam {

	margin-right:0;
	margin-left: 15%;
}

.portrait-grid {
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align:center;
	
}

.portrait-team {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 150px;
	background-color:black;
	margin:5px;
	border: 5px black solid;
}

.meettheteam #overlay {
	z-index: 999;
	position:absolute;
	background-color: rgba(211,211,211,1);
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
}

.imgwrap {
	display: inline-block;
}	

.closeoverlay {
	float: right;
	color: #ffffff;
	margin: 5px 5px 0 0;
}

div.center {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    display: inline-block;
}

div.teamdescription {
    margin: auto;
    text-align: center;
    position: relative;
}

div.teamdescription p {
}

#langbar {
	position: absolute;
	width: 99%;
	background-color: rgba(29, 80, 124, 0.75);
	height: 30px;
	top: 74px;
	z-index:500;
}

#qtranxs_select_qtranslate-4-chooser {
    position: absolute;
    z-index: 1000;
    top: 5px;
    right: 20px;
    color: black;
    height: 20px;
    width: 120px;
    border-radius: 20px;
}

.accolades {width: 75px; height: 75px;}


#Postslider {
    width: 650px;
    margin: 20px auto;    
}

.newsfeed {
}

.centerpiece {
	width: 80%;
	margin: 0 auto;
}

.readmore {
color: #dddddd;
}
